.aboutContainer {
    background-color: #1d1e1f;
    margin-top: -20px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    height: 100vh;
    padding-top: 50px;

}

.aboutHeader {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    font-weight: bolder;
    margin-bottom: 70px;
}

.aboutInfo {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: white;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 50px;
    font-size: 18px;
}

@media screen and (max-width: 1100px) {
    .aboutContainer {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 810px) {
    .aboutContainer {
        padding-right: 20px;
        padding-left: 20px;
    }

    .aboutHeader {
        margin-bottom: 50px;
    }

    .aboutInfo {
        padding: 5px 50px;
        font-size: 14px;
    }

}

@media screen and (max-width: 550px) {
    .aboutContainer {
        height: 100%;
        margin-bottom: -55px;
        padding-bottom: 100px;
    }

    .aboutInfo {
        padding:  2px 40px;
    }
}