.cardItems {
    display: inline;

}

.cards {
    display: inline-block;
    margin: 50px;


}

img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 16px  rgb(117, 117, 117));
}

img:hover {
    filter: drop-shadow(5px 5px 8px  rgb(117, 117, 117));
    transform: scale(1.1);
    transition: all 500ms ease;
}