
.navbar {
    height: 60px;
    background-color: #af0303	;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
;
}

.handleClick {
    display: none;
}

.logo {
    margin-top: 15px;
    line-height: 30px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    width: 200px;
}

.menuDiv li {
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    margin-right: 30px;
    vertical-align: baseline;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin-top: 15px;
    line-height: 30px;
}

.inline-block {
    display: inline-block;
}

.menuDiv {
    margin-right: 40px;
    float: right;
}


.menuDiv li:hover {
  background-color: #d60505;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

@media screen and (max-width: 960px) {
  .handleClick {
    color: white;
    display: inline;
    float: right;
    margin-top: 18px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 13px;
    }

    .menuItems {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 50%;
      left: 0%;
      top: 0;
      height: 100vh;
      background-color: #1d1e1f;
      transform: translate(-500px);
    }

    .menuItemsActive {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 50%;
      left: 0%;
      top: 0;
      height: 100vh;
      background-color: #1d1e1f;
      transform: translate(-2px, -2px );
      transition: all 0.2s ease-out;
    }

    .menuDiv li {
      display: flex;
      flex-direction: column;
      line-height: 60px;
    }

    .menuDiv li :visited {
      text-decoration: none;
      color: white;
    }

    .menuDiv li:link {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }

    .menuDiv li:active {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
}

@media screen and (max-width: 310px) {
  .logo {
    margin-left: 15px;
    font-size: 18px;
  }
}
  