.container {
    background-color: rgb(63, 63, 63);
    text-align: center;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 16px;
    width: 100%;
    color: ivory;
}

form {
    color: black;
}

.copyright {
    color: ivory;   
}

.inputText {
    height: 40px;
    width: 400px;
    display: inline;
    border: solid black;
    border-radius: 5px;
}

.inputSubmit {
    height: 40px;
    display: inline;
    border: solid black;
    border-radius: 5px;
}

.newsletterHeading {
    margin-bottom: 30px;
}

.termsCondition {
    margin-top: 20px;
    font-size: 12px;    
}

.socialMediaHandles {
    height: 50px;
    text-align: center;
    margin-top: 30px;
}



