.programCardContainer {
    background-color: rgb(20, 19, 19);
    color: white;
    width: 350px;
    word-wrap: break-word;
    display: inline-block;
    border-radius: 5px;
    text-align: center;  
    margin-right: 130px;
    padding-top: 20px;
    padding-bottom: 40px;
 } 

.programCardContainer:last-child {
    margin-right: 0px;
}


.cardPrice {
    color: white;
    font-size: 62px;
}

.cardDuration {
    color: white;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #B60000;
}

.cardDiscription {
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 40px;
    font-size: 18px;
}

@media screen and (max-width: 1635px) {
    .programCardContainer {
        width: 300px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1380px) {
    .programCardContainer {
        width: 250px;
        margin-right: 70px;
    }
}

@media screen and (max-width: 1070px) {
    .programCardContainer {
        display: block;
        width: 350px;
        margin: 50px auto;
        text-align: center;
    }

    .programCardContainer:last-child {
        margin: 50px auto;
    }
}

@media screen and (max-width: 800px) {
    .programCardContainer {
        display: block;
        text-align: center;
        margin: 50px auto;
        padding: 20px 30px 40px 30px;
    }

    .programCardContainer:last-child {
        margin: 50px auto;
    }

    .cardDiscription {
        font-size: 16px;
        line-height: 30px;
    }

    .cardPrice {
        font-size: 52px;
    }

    .cardDuration {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .programCardContainer {
        width: 300px;
        margin: 50px auto;
    }
}

@media screen and (max-width: 425px) {
    .programCardContainer {
        width: 270px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .cardDiscription {
        padding-left: 10px;
        padding-right: 10px;
    }
}
